body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.header {
    background: #0a3d62;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.header a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    padding: 80px;
    text-align: center;
    background: white;
}

.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
.card {
    background: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 6px;
}